extends layout/layout.pug

block title
  | Change Your Password

block content
  section.section
    .container
      .row
        .col-md-6.col-md-offset-3.login-form
          h1.normal-title Change Your Password
          .form-group
            label
              | New Password
              span.required *
            input.form-control(type='password')
          .form-group
            label.pull-left
              | Confirm Password
              span.required *
            input.form-control(type='password')
          a.btn.btn-primary.btn-lg.btn-block(href='#') Reset
