extends layout/layout.pug

block title
  | My Account

block content
  section.section.cart-table
    .container
      h1.normal-title Select Quantity
      form(action='file:///Users/leeglasgow/OneDrive/Design%20Assets/RRCellars/cart.html', method='post')
        table.shop-table(cellspacing='0')
          thead
            tr
              th.product-name Product
              th.product-price Price
              th.product-quantity Quantity
              th.product-subtotal Total
          tbody
            tr.cart_item
              td.product-name(data-title='Product')
                a(href='file:///Users/leeglasgow/OneDrive/Design%20Assets/RRCellars/cart.html#') 2012 Mourvedre
              td.product-price(data-title='Price')
                | $35.00
              td.product-quantity(data-title='Quantity')
                .quantity
                  input.input-text.qty.text(type='number', value='1', title='Qty', size='4')
              td.product-subtotal(data-title='Total')
                | $35.00
            tr
              td.actions(colspan='6')
                .pull-right
                  a(href='http://rrcellars.com/wines/')
                    span.fa.fa-arrow-circle-left
                    |  Maybe later, take me back
                  | &nbsp; &nbsp;
                  input.btn.btn-default(type='submit', name='update_cart', value='Add to Cart')
                  input#_wpnonce(type='hidden', name='_wpnonce', value='878e7feaa8')
                  input(type='hidden', name='_wp_http_referer', value='/themes/highgrove/winery/cart/')
